@font-face{
	font-family: bold;
	src:url(../fonts/bold.ttf);
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: bold;
}
header{ 
	padding:20px 140px 20px 140px;
    display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background: #E8F0F3;
	font-size: 13px;
}
.white{
	background-color: #fff;
}
.hero-content{
	position:relative;
	margin:0 auto;
	padding-top:130px;
	background: #E8F0F3;
	z-index: -2;
	height: calc(100vh - 215px);
}
#logo{
	margin-left: 20px;
}
.book{
	border-radius: 30px;
	padding: 15px 32px 15px 35px;
	
	background-image: linear-gradient(#6AB04C, #BADC58);
}
.nav-menu li.book a{
	color: #fff;
}
.nav-menu li.active-page a{
	color: #6AB04C;
}
.nav-menu li a{
	color: #181818;
}
.hero-content::before{
	content: "nodmotors";
	position: absolute;
	font-size: 23vw;
	margin-top:2vh;
	color: #f3f3f3;
	z-index: -1;
}
.main-pic{
	margin: 0 auto;
	text-align:center;
}
.luxuryfast {
	color: #FFFFFF;
}
.new-technology{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.main-title{
    z-index: 1;
    position: relative;	
    margin-left:25vw;
    padding-top: 0;
}
.nav-menu{
	display: flex;
	justify-content: space-between;
	width: 400px;
	align-items: center;
    font-size: 13px;	
}
.nav-menu li{
	display: flex;
	justify-content: flex-end;
}
.info-order{
	display: block;
}
.car-info{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
.info-color{
	color: #6AB04C;
	display: flex;
	align-items: flex-end;
}
.arrow-div{
	padding-top:20px;
	padding-bottom:20px;
}
.arrow{
	position: relative;
	bottom: -60px;
	margin-left:160px;
}
.menu{
    background-color: #fff;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.left{
	right: 10px;
	margin-top: 30px;
	margin-bottom: 50px;

}
.menu-left{
	position: relative;
	background-color: #fff;
	border-color: #fff;
	box-shadow: 0 3px 6px rgba(24,24,24,0.16);
	border-radius: 30px;
	color: #181818;
	padding: 15px 45px;
	margin-left: 135px;

}
.right{
	left: 100px;
	margin-top: 0 auto;
	margin-right: 50px;
	/*float: right;*/
}
.menu-right{
	background-image: linear-gradient(#6AB04C, #BADC58);
	box-shadow: 0 3px 6px rgba(24,24,24,0.16);
	border-radius: 30px;
	float: right;
	margin-right: 140px;
	padding: 15px 25px;
}
.avalible-cars{
	margin-left: 140px;
	margin-top: 65px;
}
.avalible-cars p{
	color: #95A5A6;
}
.column-order{
	object-fit: cover;
	height: auto;
	position: relative;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    width: 30%;
}
.footer{
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 140px;
}
.logo{
	/*padding-top: 90px;*/
}
.price-color{
	color: #6AB04C;
}
.color{
	width: 12px;
	height: 12px;
	border-radius:15px;
}
.car-color{
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	padding: 5px;
}
.color.white{
	background-color: #fff;
	border: .5px solid #95A5A6;
}
.color.black{
	background-color: #2A2B30;
}
.color.red{
	background-color: #AA071E;
}
.color.grey{
	background-color: #95A5A6;
}
.color.green{
	background-color: #6AB04C;
}
.color.orange{
	background-color: #FF9331;
}
.color.yellow{
	background-color: #D1BB3F;
}
.color.blue{
	background-color: #2F6AA2;
}
.color.pumpkin{
	background-color: #FF664F;
	border: .5px solid #95A5A6;
}
.maps{
	width: 100%;
	border-radius: 10px;
	margin-left:20px;
}
/*CONTACT*/


.main-information{
  position: relative;
  background-color: #E8F0F3;
  border-radius: 10px;
  width: 260px;
  padding: 20px;
  clear:both;
}
.main-information a{
  color: #181818;
}
.main-information h1{
	padding-bottom: 20px;
	padding-top: 10px;
}
.contact-info{
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  width: 420px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 35px;
  z-index: 1;
}
.contact-info div * {
  margin-top: 20px;
  padding-left: 72px;
}
.input-form{
  margin-right:30px;
}
.input-form input{
  border-radius: 10px;
  padding: 15px;
  margin-right: 30px;
  font-size: 13px;
  border: 0;
  margin-top: 10px;
  width: 100%;
}
.input-form textarea{
  height: 60px;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  border: 0;
  margin-top: 10px;
  width: 100%;
  resize:vertical;
}

#input-form-wrapper{
	display: block;
}
.input-form input[type="submit"]{
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-top: 30px;
  border: 0;
  width: 100%;
  background-image: linear-gradient(#6AB04C, #BADC58);
}
.container{
	display: flex;
    margin-top: 30px;
    margin: 20px 20px 0 20px;
}
.nodmotors-ge{
	color: #95A5A6;
	
}
.footer style["number"] style["mail"]{
	color: #95A5A6;
}

/*
   Booking Form

*/
.booking-wrapper{
	display: none;
	position: absolute;
	width:100vw;
	top:85px;
	background-color:white;
	opacity: .96;
	height: calc(100vh - 85px);
}

.booking{
  position: relative;	
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:135px;
}

.booking-form{
  display: block;	
  position: relative;
  
  border-radius: 10px;
  width: 260px;
  margin: 0 auto;
  padding: 20px;
}
.booking-inputs{
  margin-right:30px;
}
.booking-inputs input{
  border-radius: 10px;
  background-color: #E8F0F3;
  opacity: .99;
  padding: 15px;
  font-size: 13px;
  border: 0;
  margin-top: 10px;
  width: 100%;
}
.booking-inputs textarea{
  height: 60px;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  background-color: #E8F0F3;
  border: 0;
  margin-top: 10px;
  width: 100%;
  resize:vertical;
}
.booking-inputs input[type="submit"]{
  background-image: linear-gradient(#6AB04C, #BADC58);
  margin: 15px 0 10px 15px;
}

/* buttons */
#close{
	display: none;
}
#book{
	display: block;
}


.contact-booking-success{
	padding-left: 30px;
    padding-bottom: 125px;
}

#booking-success{
	display:none;
	text-align: center;
}

#booking-success img{
	padding-top:65px;
}

#booking-success p{
	padding-top:35px;
	font-size: 18px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;;
}/*
@media only screen and (min-width: 599px)*/
